form#logout_id {
        font-size: 14px;
        text-transform: capitalize;
        display: inline-block;
        position: relative;
        font-weight: 400;
        color: #797979;
        vertical-align: top;
    }
    span.reaction {
        font-size: 30px;
        padding: 2px 5px;
        display: none;
        border-radius: 20px;
        background-color: #eaeaea;
    }
    .reaction > i {
        cursor: pointer;
        display: inline-block;
        max-width: 7%;
        margin-bottom: 8px;
    }
    .custom-img-height:hover {
        -ms-transform: scale(1.3); /* IE 9 */
        -webkit-transform: scale(1.3); /* Safari 3-8 */
        transform: scale(1.3);
        margin-top: -15px;
      }
     li.nav-link .img-reaction{
         max-width: 20px;
     }
     .nav-tabs li.nav-link {
        padding: 6px;
        font-size: 12px;
    }
    .rec3 {
        position: relative;
        left: -11px;
        z-index: -999;
    }
    .rec1 {
        position: relative;
        left: 11px;
        z-index: 10;
    }
    .emoji-reaction{
        max-width: 18px;
    }
    li.emooo {
        display: inline-flex !important;
    }
    ins.mrgn {
        position: relative;
        left: 58px !important;
    }
    .rec {
        cursor: pointer;
    }
    .add_rc_frnd{
        position: absolute;
        bottom: 10px;
        right: 30px;
    }
    img.rc_profile_pic {
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
    .rc_name{
        margin: 0 20px;
    }
    .user_card {
        padding: 10px;
    }
    li.nav-link a ins {
        text-decoration: none;
    }